<div class="container card mt-3">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Games list</strong>
  </h5>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Platform</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.id}}</td>
        <td>{{game.name}}</td>
        <td><img src="{{game.pathToImage}}" alt="Game image" style="width: 200px;"/></td>
        <td>{{game.platform}}</td>
        <td><a class="badge badge-primary" routerLink="/admin/games/delete/{{game.id}}">Delete</a></td>
        <td><a class="badge badge-warning" routerLink="/admin/games/edit/{{game.id}}">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
